/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Start of CSS styling*/

/*   font-family: 'Bebas Neue', sans-serif;
     font-family: 'Montserrat', sans-serif;   */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
html {
    box-sizing: border-box;
    background-color: rgba(122, 191, 191, .5);
}
body {
    width: 414px;
    margin: 0 auto;
    background-color: white;
}
header menu {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    width: 414px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    list-style: none;
    position: relative;
    top: 140px;
}
header menu a {
    text-decoration: none;
    text-align: center;
    color: #EB5428;
}

menu,
ul {
  list-style: none;
}
ol {
    display: list-item;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    top: 130px;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

header {
    background-color: #F2F2F2;
    position: relative;
    height: 260px;
    top: 100px;
}
#main-pic img {
    max-width: 100%;
    position: relative;
    top: 100px;

}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#intro {
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 5px;
    position: relative;
    top: 100px;
}
dl {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}
dt {
    margin-left: 8px;
    flex-basis: 30%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
dd {
    flex-basis: 60%;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#details {
    margin-top: 140px;
    margin-bottom: 40px;
}
#ingredients {
    margin-bottom: 40px;
}
#ingredients li {
    list-style:circle;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#directions {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 8px;
    margin-left: 15px;
    line-height: 1.25;
}
#directions li {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#searchbar {
    display: flex;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    z-index: 0;
}
#searchbar button{
    width: 40px;
    height: 40px;
}
#searchbar svg {
    position: absolute;
    left: 220px;
    top: 0;
}
input {
    border-color: #EB5428;
    height: 40px;
}
aside {
    background-color: #7ABFBF;
}
aside h2 {
    padding-top: 15px;
    margin-bottom: 20px;
}
aside img {
    transform: scale(.6,.6);
}
aside div h3 {
    margin-top: 60px;
    
}
aside section {
    display: flex;
    flex-basis: 150px;
}
aside div section div {
    margin-right:8px;
}









/*Menu Code  */

nav {
    position: absolute;
    top: 0;
}
nav ul {
    width: 80px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    margin-top: 60px;
    margin-left: 18px;
    z-index: 2;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color: #EB5428;
    box-shadow: 10px 10px 10px lightblue;
}
nav ul img{
    display: none;
}
nav ul li {
    line-height: 1.5;
}
nav ul li a {
    padding-left: 3px;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
}



input:checked ~ ul {
    max-height: 500px;
}
nav input {
    display: none;
}
label {
    display: grid;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 25px;
    left: 30px;
}
label:before {
    top: 5px;
}
label:after {
    top: -5px;
}
nav h2 {
    visibility: hidden;
}
li#home {
    position: absolute;
    top: 0;
    left: 60%;
    background-color: #EB5428;
    padding: 12px 80px 10px;
    overflow: unset;
    height: 80px;
}
#avatar {
    position: absolute;
    left: 340px;
    top: 20px;
}

footer h3 {
    visibility: hidden;
}
footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #EB5428;
    align-items: center;
    margin-left: 20px;
    text-align: center;
}

footer section p {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
footer section img {
    width: 50%;
    margin-left: 100px;
    margin-bottom: 10px;
}




/*Media Query : MEDIUM*/

@media screen and (min-width:768px) {
    body {
        width: 768px;
        margin: 0 auto;
    }
    aside div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        position: relative;
        top:110px;
        text-align: left;
        padding-left: 25px;
        background-color: #F2F2F2;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    header {
        background-color: white;
    }
    header menu {
        width: 768px;
        z-index: 2;
        background-color: rgb(255, 255, 255, 0.6);
        padding: 10px 0px 10px;
        top: 100px;
    }
    header menu:hover {
        background-color: rgb(255, 255, 255, 0.9);

    }
    #main-pic {
        position: relative;
        top: -80px;
    }
    #searchbar {
        position: relative;
        top: -2760px;
        left: 70%;
        width: 275px;
    }
    nav label {
        visibility: hidden;
    }
    nav ul {
        overflow: unset;
        display: inline-flex;
        text-decoration: none;
        justify-content: space-between;
        top: 170px;
        left: 30px;
    }
    nav ul img{
        display: inline;
    }
    nav ul li a {
        color: #EB5428;
        text-decoration: none;
        padding: 0px 20px 0px;
    }
    input:checked ~ ul {
        max-height: 0px;
    }
    li#home {
        width: 100px;
        left: 0;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }
    #home {
        position: absolute;
        top: -170px;
        right: 10px;
        padding-bottom: 11px;
        background-color: #EB5428;
    }
    #home svg{
        fill: #EB5428;
        padding-top: 20px;
    }
    #home:hover{
        transform: rotate(180deg);
    }
    #avatar {
        position: absolute;
        left: 700px;
        line-height: .8;
    }
    .foodicon {
        width: 40px;
        position: relative;
        left: -20px;
    }
    .foodicon:hover {
        width: 60px;
        background-color: none;
    }
    .menu-item {
        position: relative;
        top: 40px;
        padding-right: 32px;
        text-align: center;
    }
    #intro {
        top: 40px;
    }
    #details {
        margin-top: 80px;
    }

    dt {
        margin-left: 8px;
        flex-basis: 50%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
        text-align: right;
    }
    dd {
        flex-basis: 40%;
        flex-grow: 1;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        padding: 5px;
        text-align: start;
    }
    #ingredients {
        float:left;
        width: 40%;
        margin-bottom: 10px;
    }
    section#directions{
        margin-bottom: 10px;
    }
    aside + div {
        display: flex;
    }
    aside div section div {
        display: block;
        width: 150px;
        right: 40px;
        margin-right: -10px;
    }
    footer li {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        color: #EB5428;
        text-align: center;

    }
    footer div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footergrid ul{
        margin-left: 0;
        order: 1;
    }

}


/*Media Query : LARGE*/
@media screen and (min-width:1280px) {
    body {
        width: 1280px;
        margin: 0 auto;
    }

    .menu-item {
        top: -80px;
        display: block;
    }
    nav ul {
        width: 900px;
        margin-left: 190px;
    }
    #home {
        position: absolute;
        top: 0px;
    }
    #avatar {
        left: 110%;
    }
    header {
        background-color: #F2F2F2;
        top: 90px;
    }
    h1 {
        padding-left: 0px;
        text-align: center;
    }
    #searchbar {
        left: 51%;
        top: -3270px;
    }
    header menu {
        top: 118px;
        display: block;
        text-align: center;
        width: 126px;
        height: 766px;
        background-color: white;
        border-style: solid;
        border-color: #EB5428;
        border-width: 2px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header menu li {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    #main-pic {
        transform: scale(.5,.5);
        top: -407px;
        left: -190px;
        z-index: 3;
    }
    #intro {
        z-index: 0;
        width: 620px;
        left: 50%;
        height: 756px;
        top: -1500px;
        background-color: #F2F2F2;
        margin-top: 0;
        padding-left: 20px;
        padding-right: 0;
    }
    #details {
        position: absolute;
        top: 977px;
        width: 1280px;
        color: #7ABFBF;
        background-color: black;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    dl {
        display: flex;
        flex-flow: column wrap;
        height: 40px;
    }
    dt {
        display: block;
    }
    #ingredients , #directions {
        position: relative;
        top: -1350px;
    }
    aside {
        display: inline-block;
        position: relative;
        top: -1350px;
        
    }
    aside div {
        width: 1280px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 20px;
    }
    aside div section {
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
    }
    aside div section div h3 {
        margin-top: 10px;
    }
    aside img {
        transform: unset;;
    }
    footer {
        position: relative;
        top: -1350px;
    }
    footer section img {
        margin-left: 15px;
    }
    footer section p {
        margin-left: 240px;
        position: relative;
        top: -240px;
    }

}